.forgot-container { 
    z-index: 9999; 
    opacity: 0;
}

.forgot-container.active {
    opacity: 1; 
    backdrop-filter: blur(10px); 
}

.forgot-pass p {
    margin: 3px;
}

 .forgot-input {
    grid-template-columns: repeat(6, 1fr);
    padding: 0 30px;
    gap: 10px;
}

.forgot-input .input-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border: 2px solid rgb(255, 255, 255); 
}

.div-button-forgot {
    margin: 10px;
}


@media (max-width: 575.98px) {

        .forgot-pass p {
            white-space: nowrap;
        }

        .forgot-input input {
            gap: 5px; 
        }

        .forgot-input {
            gap: 3px;
        }
        .forgot-input input {
            height: 130%;

        }

        .div-button-forgot {
            width: 50%;
            margin: 15px;
        }

}