
.forgot-container { 
    z-index: 9999; 
    opacity: 0;

}

.forgot-email {
    top: -8px;
    max-width: 90%;
}

.forgot-container.active {
    opacity: 1; 
    backdrop-filter: blur(10px); 
}

.forgot-pass p {
    margin: 3px;
}

.forgot-input {
    grid-template-columns: repeat(6, 1fr);
    padding: 0 30px;
    gap: 10px;

}

.input-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border: 2px solid rgb(255, 255, 255); 
    text-align: center;

}

.div-button-email{
    top: 20px;
}

.div-button-email button {
    white-space: nowrap;
    padding: 10px;
    width: 30%;

}

.div-button-forgot {
    top: 20px;
    white-space: nowrap;
}

@media (max-width: 575.98px) {

        .forgot, .forgot-email {
          top: -80px;
        }
    

        .forgot-pass p {
            white-space: nowrap;
        }

        .forgot-input input {
            gap: 5px; 
        }

        .forgot-input {
            gap: 3px;
        }

        .div-button-email{
            width: 50%;
            left: 25%;
        }

        .div-button-forgot {
            width: 50%;
            margin: 15px;
            left: 20%;

        }

}