label.sing-up-input i {
    color: #afaeae;
    
}

.input-sing-up {
    height: 30%;
}

.input-sing-up .fa-eye-slash, 
.input-sing-up .fa-eye{
    position: relative;
    left: 87%;
    top: -45.2px;
    
}

.input-sing-up .fa-user, .input-sing-up .fa-lock{
    left: 18px;
    
}

input.input-email, .input-password {
  
    text-indent: 25px;

}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
  
.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
    transition: all 0.6s ease-in-out;

}
@media (max-width: 575.98px) {

    .form-sing-up {
        position: relative;
       top: 50px;
       
    }

    .input-sing-up .fa-eye-slash, 
    .input-sing-up .fa-eye{
        position: relative;
        left: 85%;
    
}   .sign-up {
    left: 100%;
    transition: all 0.6s ease-in-out;

    
}

    .container.active .sign-up {
        transform: translateX(-100%);
        transition: all 0.6s ease-in-out;



    }

}


