div.label-icon i {
    color: #afaeae;
}

.label-icon{
    margin-bottom: 10px;
}

label.label-box {
    font-size: 12px;
}

.fa-eye-slash, .fa-eye{
    position: relative;
    left: 87%;
    top: -34.2px;
    
}

.fa-solid{
    text-indent: 15px;

}

input.input-email, .input-password {
  
    text-indent: 25px;

}

input.input-email::placeholder { 
    position: relative;

}

.remember-forgot {
   position: relative;
   top: -20px;
   white-space: nowrap;
}

.input-checkbox {
    margin-right: 2px;
    margin-bottom: 1px;
}

.remember-forgot input {
    accent-color: #333;   
    cursor: pointer;
    border: 2px solid black;
}

.remember-forgot a {
    text-decoration: none;
    white-space: nowrap;
}
  
 .remember-forgot a:hover {
    color: #ccc;
    text-decoration: underline;
}

.forgot {
    cursor: pointer;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}


.container.active .sign-in {
    transform: translateX(100%);
}


@media (max-width: 575.98px) {

    .remember-forgot {
       padding: 0 ;
    }

    .input-checkbox {
        margin-right: 4px;
        margin-bottom: 2px;
    }

    .form-sing-in{
        margin-top: 40%;       
    }

    .fa-eye-slash, .fa-eye{
        position: relative;
        left: 85%;

    }

    .container.active .sign-in{
        transform: translateX(100%);
        opacity: 0;
    }
  }

